@import 'https://fonts.google.com/specimen/Inter';


html {
    box-sizing: border-box; 
    font-size: 100%;
 }
 *, *::before, *::after {
     box-sizing: inherit;
 }
 body {
    font-family: 'inter', sans-serif;
    background-color: hsl(0, 0%, 99%);
    padding: 0 48px;

    @media (max-width: 768px) {
        padding: 0 20px;
    }
    @media (max-width: 560px) {
        padding: 0 10px;
    }
}
.body_dark {
    background-color: hsl(230, 17%, 14%);
}
footer {
    padding: 20px 0;
}
